#main{
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#head{
    height: 100px;
    background-color: bisque;
    border: 1px solid red;
    margin-bottom: 5px;
    text-align: center;
}
#head-link{
    height: 30px;
    background-color: aquamarine;
    border: 1px solid red;
    margin-bottom: 5px;
    text-align: center;
}
#left{
    height: 500px;
    width: 14%;
    background-color: cornsilk;
    border: 1px solid red;
    float: left;
    margin-bottom: 10px;
    margin-right: 3px;
    text-align: center;

}
#content{
    height: 500px;
    width: 60%;
    background-color: darkgoldenrod;
    border: 1px solid red;
    float: left;
    margin-bottom: 10px;
    text-align: center;
}
#right{
    height: 500px;
    width: 25%;
    background-color: darkkhaki;
    border: 1px solid red;
    float: right;
    margin-bottom: 10px;
    margin-left: 3px;
    text-align: center;
}
#footer{
    height: 50px;
    width: 100%;
    clear: both;
    border: 1px solid red;
    margin-bottom: 10px;
    text-align: center;
}