#content{
    height: auto;
    width: 600px;
}
#head{
    font: bold;
    font-size: 30px;
}
p{
    text-indent: 50px;
}
#txtbold{
    font: bold;
}
.txtblue{
color: blue;
}
.txtgreen{
    color: green;
}